<div class="form">
	<div class="formheader">Edit Podcast:</div>
		<%= form_for @podcast do |form| %>
		<div class="formdetails">
			<img src="http://is1.mzstatic.com/image/thumb/Music111/v4/6c/9e/5f/6c9e5f7e-aed2-b477-516d-af319c09aa49/source/1200x630bb.jpg">
			<div class="rightside">
				<div class="formdescription">
					<%= form.text_field :title, placeholder: 'Title' %><br>
					<%= form.text_field :company, placeholder: 'Company' %><br>
					<%= form.text_field :hosts, placeholder: 'Hosts' %><br>
					<%= form.text_field :schedule, placeholder: 'New episodes released on' %><br>
					<%= form.text_area :description, placeholder: 'Description' %><br>
					<%= form.text_field :image,
				placeholder: 'image here' %><br>
				<div class="formlinks">
					<%= submit_tag 'Update podcast!' %><br>
					<%= link_to 'Go back', podcast_path(@podcast) %>
				</div>
			</div>
		</div>
	<% end %>
</div>

