<div class="indexcontainer">
	<% @podcasts.each do |podcast| %>
	<div class="eachpodcast">
			<img class="image" src=<%="#{podcast[:image]}"%> alt="no image"/>
			<div class="podcastdetails">
				<div class="title"><%= podcast[:title] %></div>
				<div class="company"><%= podcast[:company] %></div>
				<div class="description"><%= podcast[:description] %></div>
				<%= link_to 'More details', podcast_path(podcast) %>
			</div>
		</div>
	<% end %>
</div>
