<div class="form">
	<div class="formheader">Add a podcast:</div>
	<%= form_for @podcast do |form| %>
		<br>
			<%= form.text_field :title, placeholder: 'Title' %><br>
			<%= form.text_field :company, placeholder: 'Media company' %><br>
		<%= form.text_field :hosts,
				placeholder: 'Hosts' %><br>
		<%= form.text_field :schedule,
				placeholder: 'New episodes released' %><br>
			<%= form.text_area :description, placeholder: 'Description' %><br>
			<%= form.text_field :image,
				placeholder: 'Image here' %><br>
			<%= submit_tag 'Add a podcast!' %>
	<% end %>
</div>
