<div class="form">
	<div class="formheader">Add a podcast:</div>
	<%= form_for @podcast do |form| %>
		<br>
			<%= form.text_field :title, placeholder: 'Title' %><br>
			<%= form.text_field :company, placeholder: 'Media company' %><br>
			<%= form.text_area :description, placeholder: 'Description' %><br>
			<div class="listened"><%= check_box_tag(:listened) %>
			<%= label_tag(:listened, "Already listened") %>
		</div>
			<%= submit_tag 'Add a podcast!' %>
	<% end %>
</div>
