<div class="showview">
	<div class="showcontainer">
		<img src=<%="#{@podcast.image}"%> alt="no image"/>
		<div class="showdetails">
			<div class="showdescription">
				<div>Title:<%= @podcast.title %></div>
				<div>Production company:<%= @podcast.company %></div>
				<div>Description:<%= @podcast.description %></div>
				<div>Hosts:<%= @podcast.hosts %></div>
				<div>New episodes released on:<%= @podcast.schedule %></div>

			</div>
			<div class="showlinks">
				<% if current_user %>
					<%= render "partials/edit_link" %>
				<% end %>

				<%= link_to 'Back to podcast list', podcasts_path %>
			</div>
		</div>
	</div>
</div>
