
<div class="showview">
	<div class="showcontainer">
		<div>
		<img class="image" src=<%="#{@podcast.image}"%> alt="no image"/>
		</div>
		<div class="showdetails">
			<div class="showdescription">
				<p class="title"><%= @podcast.title %></p>
				<p class="company"><%= @podcast.company %></p>
				<p class="description"><%= @podcast.description %></p>
				<p class="hosts">Hosted by <%= @podcast.hosts %></p>
				<p class="schedule">Episodes released <%= @podcast.schedule %></p>
			</div>



			<div class="showlinks">
				<% if current_user.id == @podcast.user_id  %>
					<%= render "partials/edit_link" %>
				<% end %>

				<a href="/users/<%= @podcast.user_id %>">See other posts from this user</a>

				<%= link_to 'Back to podcast list', podcasts_path %>
			</div>
		</div>
	</div>
</div>
