<!DOCTYPE html>
<html>
  <head>
    <title>PodcastApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div class="username">
        <div class="link">Hi, <%= link_to current_user.username.capitalize, user_path(current_user) %></div>
        <div class="link"><%= button_to 'Log out', session_path, method: :delete %></div>
    </div>
    <% end %>

    <% if current_user %>
      <div class="header">
        <div class="apptitle">The Podcast Place</div>
        <div class="linkcontainer">
          <a class="link" href="/users">Users</a>
          <a class="link" href="/podcasts">Podcasts</a>
          <a class="link" href="/podcasts/new">Add a podcast</a>
        </div>
      <% end %>

    </div>

    <% if flash[:notice].present? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:error].present? %>
      <div class="errors">
        <b>Errors:</b>

        <%= flash[:error] %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
